body{
	background-color: ghostwhite;
}
.barraelias{
    padding: 5px 2px 2px;
    background-color: #163853;
}
.tituloelias{
	font-family: "Lucida Handwriting", Cursive;
	font-size: 60px;
	padding-top: 10%;
	color: #dab25b;
	font-weight: 900;
}
.barrakevin{
    padding: 5px 2px 2px;
    background-color: #22242E;
}
h1 .titulokevin{
	font-family: "Lucida Handwriting", Cursive;
	font-size: 60px;
	padding-top: 10%;
	color: #202021;
	font-weight: 900;
}
h1 .titulokevin2{
	font-family: "Lucida Handwriting", Cursive;
	font-size: 60px;
	padding-top: 10%;
	color: white;
	font-weight: 900;
}
.barradavid{
    padding: 5px 2px 2px;
    background-color: #163853;
}
.titulodavid{
	font-family: "Lucida Handwriting", Cursive;
	font-size: 60px;
	padding-top: 10%;
	color: #dab25b;
	font-weight: 900;
}
