body{
	background-color: #d7f4ef;
}
.barraelias{
    padding: 5px 2px 2px;
    background-color: #163853;
}
.titulo{
	font-family: "Lucida Handwriting", Cursive;
	font-size: 60px;
	padding-top: 10%;
	color: #dab25b;
	font-weight: 900;
}
